@tailwind base;
@tailwind components;
@tailwind utilities;





body {
  @apply
  w-screen h-screen
  ;

  background:linear-gradient(45deg,#DB9065,#8D6B94)
}



input {
@apply
text-2xl
;
text-align: center;
}

input:focus {
  outline: none;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


input[type='range'] {
  -webkit-appearance: none;
  background:transparent;
  
}

input[type='range']::-webkit-slider-runnable-track {
  @apply
  h-2 w-full flex justify-center
  rounded-full bg-persianOrange
  ;
  }


input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  /* appearance: none; */
  @apply
  w-4 h-4 bg-pompPowder
  rounded-full cursor-pointer
  ;
  margin:-4px;
}